@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

/* START: CSS popular tags */
.popular-tags .javascript {
  @apply bg-amber-400;
}

.popular-tags .typescript {
  @apply bg-blue-500;
}

.popular-tags .nestjs {
  @apply bg-rose-500;
}

.popular-tags .react {
  @apply bg-sky-500;
}

.popular-tags .devops {
  @apply bg-sky-600;
}

.popular-tags .database {
  @apply bg-green-900;
}
/* END: CSS popular tags */

/* START: CSS Prose */
.prose {
  font-size: 18px;
}

.prose h2 {
  font-size: 28px;
  margin: 0 0 12px 0;
}

.prose h3 {
  font-size: 24px;
}

.prose img {
  margin: 0 auto;
  border-radius: 12px;
}

.prose blockquote {
  background: #ebebeb;
}

.dark .dark\:prose-dark blockquote {
  background: #5c6370;
}
/* END: CSS Prose */
